<div id="burgers">

    <div id="notEaten">
        <h2>EAT THESE BURGERS</h2>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    
    <div id="eaten">
        <h2>DEVOURED BURGERS</h2>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

    <form class="create-form">

  <div class="form-group">
    <label for="nb">New Burger Name:</label>
    <input type="text" id="nb" name="new-burger">
  </div>
  <button type="submit">Add Burger</button>
</form>

</div>